{% extends "projects.html" %}

{% block project_name %}LSToday{% endblock %}
{% block side_badge %}
    <a href="/out/lstoday" target="_blank">
        <img src="{{ url_for("static", filename="img/badges/appstore.png") }}" class="side-badge" style="margin-top: 500px"/>
    </a>
{% endblock %}
{% block project_content %}

    <h1 class="title">LSToday</h1>
    <div id="head">
        <img src="{{ url_for('static', filename='img/lstoday-preview-1.png') }}"/>
        <img src="{{ url_for('static', filename='img/lstoday-preview-2.png') }}"/>
    </div>

    <p>
        LSToday is an iOS app that I created for my high school. It has over 1500 downloads and about 650 daily active users.
    </p>
    <p><a href="https://lstoday.net/about" target="_blank">Learn more about LSToday</a></p>
    <p><a href="https://lstoday.net" target="_blank">LSToday home page</a></p>
    <div id="side-badge-mobile">
        <a href="/out/lstoday" target="_blank">
            <img src="{{ url_for("static", filename="img/badges/appstore.png") }}" class="lstoday-foot" />
        </a>
    </div>


{% endblock %}