{% extends "projects.html" %}

{% block project_name %}LSToday{% endblock %}
{% block side_badge %}
    <a href="/out/lstoday" target="_blank">
        <img src="{{ url_for("static", filename="img/badges/appstore.png") }}" class="side-badge" style="margin-top: 500px"/>
    </a>
{% endblock %}
{% block project_content %}

    <h1 class="title">LSToday</h1>
    <div id="head">
        <img src="{{ url_for('static', filename='img/lstoday-preview-2.png') }}"/>
        <img src="{{ url_for('static', filename='img/lstoday-preview-1.png') }}"/>
    </div>

    <p>
        LSToday is an app I developed for Lincoln Sudbury Regional High School. Prior to the 2019-2020 school year, students used a software called iPass to keep track of their course schedules. However, in the second semester of the 2018-2019 school year, LS announced that they were transitioning to Aspen, which did not include the scheduling feature.
    </p>
    <p>
    Follett Aspen was greatly disapproved of by the student body. It was buggy, feature lacking, and difficult to navigate. I had hoped to recreate the entirety of iPass by scraping data from Aspen, but I was asked not to due to security concerns. However, I was able to recreate the next best thing.
    </p>
    <p>
    LSToday is a scheduling app. Students type in their schedule once from ASPEN, and it is presented for the rest of the semester in an easy to use fashion. The app is currently only available for iPhone, but I have future plans on Android support. The app has been highly praised by students, teachers, and administrators.
    </p>
    <p>
    LSToday has received over 1200 downloads, from my school of roughly 1500 students. (Some of whom have Androids, which are not supported). Of these 1200 downloads, about 650 people use the app on a weekly basis, and 500-550 people use the app every school day.
    </p>
    <p style="color: gray">
    Note: these numbers are based on the 2019-2020 school year, as covid-19 changed how LS operates, and made LSToday obsolete for the time being. Version 2.0 is LSToday is currently in development with new features, such as an anonymous way to contact school counselors, a school events page, and more. It is currently unclear whether the update will be released later this year, or for the 2020-2021 school year.
    </p>
    <div id="side-badge-mobile">
        <a href="/out/lstoday" target="_blank">
            <img src="{{ url_for("static", filename="img/badges/appstore.png") }}" class="lstoday-foot" />
        </a>
    </div>


{% endblock %}