{% extends "projects.html" %}

{% block project_name %}Video Projects{% endblock %}

{% block project_content %}
    <h1 class="header">Video Projects</h1>

    <p>I film, direct, and edit local events around my community for SudburyTV. These events include highschool sports games, charity concerts, town legislative events, and more. I’ve been with SudburyTV since 2018. I organized, edited, and directed all of the video for  <a href="https://sudbury.vod.castus.tv/vod/?video=37444725-5664-4c20-812f-e0e7144aa038&nav=search%2Fcambodia" target="_blank">Jam for Cambodia</a>, a local charity concert in the neighboring town of Lincoln. During the COVID-19 pandemic, I live streamed multiple church services for the Sudbury United Methodist Church. I put on these live streams by myself. Independently, I film all of the Hockey games for the LS Hockey team, to be uploaded to their video analysis platform Hudl, to be reviewed for more efficient practice. I’ve also created several highlight videos for them.</p>
    <p>I also filmed promo videos for many clubs around my school. These videos were used to promote the clubs, and increase enrollment. They have been featured on the LS website, along with at the our annual “club shoparound” where students go around and visit clubs recruitment booths.</p>

    <div class="videos">
        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-6 md-5 mb-4">

            <!--Modal: Name-->
            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">

                <!--Content-->
                <div class="modal-content">

                  <!--Body-->
                  <div class="modal-body mb-0 p-0">

                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/5dAETQA6_5A"
                        allowfullscreen></iframe>
                    </div>

                  </div>

                  <!--Footer-->
                  <div class="modal-footer justify-content-center">
                      <a href="https://www.youtube.com/watch?v=5dAETQA6_5A" target="_blank"><button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4">View on YouTube</button></a>
                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                  </div>

                </div>
                <!--/.Content-->

              </div>
            </div>
            <!--Modal: Name-->

            <a><img class="img-fluid z-depth-1 thumbnail" src="https://img.youtube.com/vi/5dAETQA6_5A/hqdefault.jpg" alt="video"
                data-toggle="modal" data-target="#modal1"></a>

          </div>
          <!-- Grid column -->
          <div class="col-lg-6 md-5 mb-4">

            <!--Modal: Name-->
            <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">

                <!--Content-->
                <div class="modal-content">

                  <!--Body-->
                  <div class="modal-body mb-0 p-0">

                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                      <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/qJf8WvT1zGA"
                        allowfullscreen></iframe>
                    </div>

                  </div>

                  <!--Footer-->
                  <div class="modal-footer justify-content-center">
                      <a href="https://www.youtube.com/watch?v=qJf8WvT1zGA" target="_blank"><button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4">View on YouTube</button></a>
                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                  </div>

                </div>
                <!--/.Content-->

              </div>
            </div>
            <!--Modal: Name-->

            <a><img class="img-fluid z-depth-1 thumbnail" src="https://img.youtube.com/vi/qJf8WvT1zGA/hqdefault.jpg" alt="video"
                data-toggle="modal" data-target="#modal2"></a>

          </div>
        </div>
        <div class="row">
          <!-- Grid column -->

            <!-- Grid column -->
          <div class="col-lg-6 md-5 mb-4">

            <!--Modal: Name-->
            <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">

                <!--Content-->
                <div class="modal-content">

                  <!--Body-->
                  <div class="modal-body mb-0 p-0">

                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                      <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/iUU6gKlvwxI"
                        allowfullscreen></iframe>
                    </div>

                  </div>

                  <!--Footer-->
                  <div class="modal-footer justify-content-center">
                      <a href="https://www.youtube.com/watch?v=iUU6gKlvwxI" target="_blank"><button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4">View on YouTube</button></a>
                      <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                  </div>

                </div>
                <!--/.Content-->

              </div>
            </div>
            <!--Modal: Name-->

            <a><img class="img-fluid z-depth-1 thumbnail" src="https://img.youtube.com/vi/iUU6gKlvwxI/hqdefault.jpg" alt="video"
                data-toggle="modal" data-target="#modal3"></a>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-6 md-5 mb-4">

            <!--Modal: Name-->
            <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">

                <!--Content-->
                <div class="modal-content">

                  <!--Body-->
                  <div class="modal-body mb-0 p-0">

                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                      <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/HtyO0cDds58"
                        allowfullscreen></iframe>
                    </div>

                  </div>

                  <!--Footer-->
                  <div class="modal-footer justify-content-center">
                      <a href="https://www.youtube.com/watch?v=HtyO0cDds58" target="_blank"><button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4">View on YouTube</button></a>
                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                  </div>

                </div>
                <!--/.Content-->

              </div>
            </div>
            <!--Modal: Name-->

            <a><img class="img-fluid z-depth-1 thumbnail" src="https://img.youtube.com/vi/HtyO0cDds58/hqdefault.jpg" alt="video"
                data-toggle="modal" data-target="#modal4"></a>

          </div>
          <!-- Grid column -->

        </div>
        <p style="text-align: center;color:gray;font-size: 18px;">Click to play</p>
    </div>

    <p>I’ve also created a video every year for my robotics team, showcasing our local outreach program. These videos are presented to the judges, during our yearly presentation.</p>

    <div class="videos">
        <div class="row">
            <div class="col-lg-6 md-5 mb-4">

            <!--Modal: Name-->
            <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">

                <!--Content-->
                <div class="modal-content">

                  <!--Body-->
                  <div class="modal-body mb-0 p-0">

                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/LX6pWrNCBR8"
                        allowfullscreen></iframe>
                    </div>

                  </div>

                  <!--Footer-->
                  <div class="modal-footer justify-content-center">
                    <a href="https://www.youtube.com/watch?v=5dAETQA6_5A" target="_blank"><button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4">View on YouTube</button></a>
                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                  </div>

                </div>
                <!--/.Content-->

              </div>
            </div>
            <!--Modal: Name-->

            <a><img class="img-fluid z-depth-1 thumbnail" src="https://img.youtube.com/vi/LX6pWrNCBR8/hqdefault.jpg" alt="video"
                data-toggle="modal" data-target="#modal1"></a>

          </div>
          <!-- Grid column -->
          <div class="col-lg-6 md-5 mb-4">

            <!--Modal: Name-->
            <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">

                <!--Content-->
                <div class="modal-content">

                  <!--Body-->
                  <div class="modal-body mb-0 p-0">

                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                      <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/GvVaQsTLG7Q"
                        allowfullscreen></iframe>
                    </div>

                  </div>

                  <!--Footer-->
                  <div class="modal-footer justify-content-center">
                      <a href="https://www.youtube.com/watch?v=GvVaQsTLG7Q" target="_blank"><button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4">View on YouTube</button></a>
                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                  </div>

                </div>
                <!--/.Content-->

              </div>
            </div>
            <!--Modal: Name-->

            <a><img class="img-fluid z-depth-1 thumbnail" src="https://img.youtube.com/vi/GvVaQsTLG7Q/hqdefault.jpg" alt="video"
                data-toggle="modal" data-target="#modal6"></a>

          </div>
        </div>
        <p style="text-align: center;color:gray;font-size: 18px;">Click to play</p>
    </div>

    <p><a href="/out/youtube">View my YouTube Channel</a> </p>

    <style>
    .thumbnail {
        width: 1200px;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        overflow: hidden;
        cursor: pointer;
    }
    .videos {
        border-color: black;
        border-style: solid;
        border-width: 5px;
        border-radius: 10px;
        margin-left: 10vw;
        margin-right: 5vw;
        overflow: hidden;
    }
    </style>
{% endblock %}