{% extends "projects.html" %}

{% block project_name %}Video Projects{% endblock %}

{% block project_content %}
    <h1 class="header">Video Projects</h1>

    <p>I film, direct, and edit local events around my community for SudburyTV. These events include highschool sports games, charity concerts, town legislative events, and more. I’ve been with SudburyTV since 2018. I organized, edited, and directed all of the video for  <a href="https://sudbury.vod.castus.tv/vod/?video=37444725-5664-4c20-812f-e0e7144aa038&nav=search%2Fcambodia" target="_blank">Jam for Cambodia</a>, a local charity concert in the neighboring town of Lincoln. During the COVID-19 pandemic, I live streamed multiple church services for the Sudbury United Methodist Church. I put on these live streams by myself. Independently, I film all of the Hockey games for the LS Hockey team, to be uploaded to their video analysis platform Hudl, to be reviewed for more efficient practice. I’ve also created several highlight videos for them.</p>
    <p>I also filmed promo videos for many clubs around my school. These videos were used to promote the clubs, and increase enrollment. They have been featured on the LS website, along with at the our annual “club shoparound” where students go around and visit clubs recruitment booths.</p>
    <div class="video-head">
        <iframe  src="https://www.youtube-nocookie.com/embed/5dAETQA6_5A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height: calc(0.5625 * 50vw)"></iframe>
        <iframe  src="https://www.youtube-nocookie.com/embed/qJf8WvT1zGA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height: calc(0.5625 * 50vw)"></iframe>
        <iframe  src="https://www.youtube-nocookie.com/embed/iUU6gKlvwxI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height: calc(0.5625 * 50vw)"></iframe>
        <iframe  src="https://www.youtube-nocookie.com/embed/HtyO0cDds58" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height: calc(0.5625 * 50vw)"></iframe>
    </div>
    <p>I’ve also created a video every year for my robotics team, showcasing our local outreach program. These videos are presented to the judges, during our yearly presentation.</p>
    <div class="video-head">
        <iframe  src="https://www.youtube-nocookie.com/embed/LX6pWrNCBR8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height: calc(0.5625 * 50vw)"></iframe>
        <iframe  src="https://www.youtube-nocookie.com/embed/GvVaQsTLG7Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height: calc(0.5625 * 50vw)"></iframe>
    </div>
    <p><a href="/out/youtube">View my YouTube Channel</a> </p>

{% endblock %}