{% extends "projects.html" %}

{% block project_name %}Web Team{% endblock %}

{% block project_content %}
    <h1 class="header">Web Team</h1>
    <p>I’m a member of the Lincoln Sudbury Web Team. We work to develop and maintain the school’s website. We also help teachers and faculty to maintain their class sites. Our largest project has been the complete migration in 2019 from Wordpress to School Sharp. This involved completely redoing the site. It was essential that no pages were lost, especially legal documents, so we had to take great care to make sure all pages were properly migrated. We also had to contact and work with a large number of faculty to move their pages to the new site.</p>
    <p>
        <a href="https://lsrhs.net" target="_blank">lsrhs.net</a>
        <span>//</span>
        <a href="https://www.lsrhs.net/students/activities_clubs/webteam" target="_blank">Web Team page</a>
    </p>

{% endblock %}