{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stars.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>

    <div id='title'>
        <span>Skyler Wiernik</span>
        <br>
        <a class="subtitle" href="/about">About</a>
    </div>



    <style>
        .subtitle {
            font-size: 24px;
            font-family: 'Open Sans', sans-serif!important;
        }
        .subtitle:hover {
            text-decoration: none;
            color: #698fff;
        }
        body {
            background-color: #002;
        }
    </style>
    <script>
        window.onload = function () {
            if (window.innerWidth < window.innerHeight) {
                $("#title").css("letter-spacing", "1px")
            }
        }
    </script>
{%  endblock %}